@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  @apply text-secondary;
  height: 100vh;
  height: 100svh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply select-none;
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-5xl;
}
h3 {
  @apply text-4xl;
}
h4 {
  @apply text-3xl;
}
h5 {
  @apply text-2xl;
}
h6 {
  @apply text-xl;
}

.name-title {
  @apply top-1/3 left-[6.5%];
  transform: scale(1);
  transition: transform 1s, top 1s, left 1s;
}
.name-title.active {
  @apply -top-8 -left-[5%];
  transform: scale(0.3);
}

.slice {
  transition: transform 0.75s, background 0.5s;
  transform: translateY(70%);
}

.slice:hover {
  transform: translateY(60%);
  transition-delay: 0;
}

.slice.active {
  transform: translateY(50%);
}

.slice.active:hover {
  transform: translateY(40%);
  transition-delay: 0;
}

.slice > h6 {
  transform: scale(1);
  transition: transform 0.4s;
  transition-delay: 0.1s;
}

.slice.active > h6 {
  transform: scale(1.3) translateY(20%);
}

.heading-intro {
  transform-origin: bottom right;
  animation-name: headingAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes headingAnimation {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}

.image-container {
  transform: translateY(0) scale(1);
  transition: 1s transform;
}

.image-container:hover {
  transform: translateY(-10px) scale(1.01);
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.timeline {
  transform: scaleX(0);
  transform-origin: left;
  animation-name: timeline-animation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes timeline-animation {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.dot {
  @apply bg-primary;
  transform: translateX(-100vw);
  transform-origin: left;
  animation-name: dot-animation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  transition: background 0.5s;
}

.dot:hover {
  @apply bg-secondary;
}

.dot:nth-child(8) {
  animation-delay: 0.1s;
}
.dot:nth-child(7) {
  animation-delay: 0.2s;
}
.dot:nth-child(6) {
  animation-delay: 0.3s;
}
.dot:nth-child(5) {
  animation-delay: 0.4s;
}
.dot:nth-child(4) {
  animation-delay: 0.5s;
}
.dot:nth-child(3) {
  animation-delay: 0.6s;
}
.dot:nth-child(2) {
  animation-delay: 0.7s;
}
.dot:nth-child(1) {
  animation-delay: 0.8s;
}

@keyframes dot-animation {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}
